@{
    ViewBag.Title = "About";
    Layout = "~/Views/_Layout.cshtml";
}

<h3 class="ambitios_uppercase">Технология скачек </h3>
<div class="ambitios_indent_left ambitios_picture"><img src="@Url.Content("~/Images/tech.jpg")" alt="" /></div>
<p class="ambitios_p3">Издавна скачки верхом на лошадях считались аристократичным спортом, который был не каждому по карману. Если раньше в них участвовала только элита, сегодня любой желающий может обучаться конному спорту и принимать активное участие в состязаниях. Но главную роль в таком спорте, конечно же, отыгрывает непосредственно сама лошадь. Для положительного исхода подбирают такую особь, которая обладает непоколебимым упорством и темпераментом, нескончаемой силой и выносливостью, скоростью бега и главное, принадлежностью к той или иной породе.</p>
<p>В целом, такой конный спорт подразделяется на три вида:</p>
<ul>
    <li>Скачки гладкие, в которых главную роль играет не исключительно скорость движения и резвость лошади, а и выбранная командой и наездником стратегия борьбы. Именно на гладких скачках, казалось бы, самая быстрая лошадь может прийти далеко не первой, если ее оппоненты выбрали эффективную стратегию и тактику рационального распределения силы по всей протяженности забега. Для таких скачек подготавливают ипподром круглой формы, дистанция которого составляет 1200-2400 м. Главное условие участия лошадей — возраст старше трех лет. Также специалисты подбирают такие породы, которые имеют приблизительно схожие характеристики и возможности. Это могут быть чистокровные верховые породы, а также полукровки, демонстрирующие отличную скорость.</li>
    <li>Скачки барьерные, когда на подготовленной дистанции длиной примерно 2-3 км устанавливают специальные барьеры в виде херделей. Херделя — такие изгороди высотой не больше 1 м, который могут упасть от легкого касания лошади. Кроме херделей в барьерных скачках устанавливают плетеные изгороди, по всей ширине беговой дистанции они пересекают всю ее. Здесь подбирают породы лошадей, которые демонстрируют отличные возможности прыжков, скорости бега и выносливости. Возраст лошади должен быть не меньше 3 лет.</li>
    <li>Стипль-чез, самые сложные скачки, для которых подготавливается круговая дистанция длиной 2-4 км. Принимать участие в скачках стипль-чез могут только лошади старше 4 лет. По всей поверхности беговой дорожки фиксируются неподвижные виды препятствий, у одного такого барьера высота может быть не больше 1,5 м, а ширина — максимум 6 м. Обычно в стипль-чезе можно увидеть барьеры в виде каменной стены, живые изгороди, заранее обустроенные рвы либо канавы, которые даже наполняют жидкостью. В данном подвиде скачек очень важна общая и скоростная выносливость особи. Главное отличие стипль-чеза от других видов скачек — усложненные препятствия, самая длинная дистанция забега.</li>
</ul>
<p>&nbsp;</p>
<p>В целом, участвуют в скачках лошади, которые прошли долгие тренировки и показывают достойные результаты. Часто, если в скачках принимают чистокровные верховые породы, другие родословные не допускаются, так как сравниться по характеристикам с чистокровной лошадью способенмало кто. Самые успешные в скачках породы — арабская, ахалтекинская и английская верховая лошадь.</p>
