@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h3 class="ambitios_uppercase">Общие правила скачек </h3>
<p>
    Как и любой другой вид спорта, скачки верхом на лошадях предполагают общий свод правил:
</p>
<ul>
    <li>
        Перед тем, как стартует забег, каждая лошадь проходит процедуру взвешивания. Чаще всего такие манипуляции совершают непосредственно перед скачками, за 15 минут до начала.
    </li>
    <li>
        Забег лошадью совершается непосредственно из стойла, если только судья соревнований не решит начать старт со стартовых ворот. Для обозначения команд каждая лошадь и ее стойло обозначаются цифрой. Каждая скачка должна выполняться строго по хронологии: открытие ворот в стойлах, подача сигнала специальным флажком, последующий удар в колокола.
    </li>
    <li>
        Если случился фальстарт, процедуру старта повторяют снова до тех пор, пока лошади все не стартуют согласно правилам. Если на поле показали желтый флаг, лошадь и ее жокей должны остановиться. Этот цвет является предвестником аварийного случая на треке. Такой сигнал дает всем понять, что скачки останавливаются на неопределенное время.
    </li>
    <li>
        Победителем забега станет то животное, которое первым коснулось своей головой финишной ленточки. Для подтверждения факта победы всегда на помощь приходит фотофиниш.
    </li>
    <li>
        После завершения соревнования весовщик повторно взвешивает тех 4 лошадей, которые первыми пришли к финишу. Если одна из лошадей в процессе забега потеряла вес от 0,3 кг и больше, ее занятое место аннулируют.
    </li>
</ul>
<div class="ambitios_indent_left ambitios_picture">
    <img src="@Url.Content("~/Images/jockey.jpg")" alt="" />
</div>
<p>&nbsp;</p>
<p>Правила, ведущие к дисквалификации лошади:</p>
<ul>
    <li>
        лошадь снимается с конкурса, если она на беговой дорожке сталкивалась с другой особью;
    </li>
    <li>
        снимается та команда, жокей которой вел опасную стратегию игры и подвергал угрозе шансы победы другой лошади;
    </li>
    <li>
        если во время старта и забега лошадь не слушается жокея и выходит из-под его контроля.
    </li>
</ul>
<p>Требования к жокею:</p>
<ul>
    <li>
        все жокеи должны получить соответствующую лицензию;
    </li>
    <li>
        жокеи взвешиваются перед забегом;
    </li>
    <li>
        все лица должны обладать защитным шлемом;
    </li>
    <li>
        рубашка и бриджи (брюки) жокея должны быть одного цвета с цветов коневладельца;
    </li>
    <li>до и после взвешивания по определенным причинам жокей может быть заменен другим спортсменом.</li>
</ul>
<p>&nbsp;</p>
<p>В случае, когда после проявления фотофиниша выясняется, что к финишу одновременно пришли сразу два жокея верхом на лошадях, призовой фонд делится между ними ровно напополам.</p>

